<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de datos</title>
</head>
<body>
    <h1><%=title %></h1>
    <div>
        <% if (max && min && nivel) { %>
        <p>min</p><progress min=<%=min %> max=<%=max %> value=<%=nivel %>></progress><p>max</p>
        <%} else { %>
        <p>Ingrese los parámetros min, max y nivel actual de la barra</p>
        <% } %>
    </div>
</body>
</html>