.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(87, 35, 87);
  text-decoration: none;
}

a:hover {
  color:aquamarine;
}

button {
  background-color: black;
  color:aqua;
  border-radius: 5px;
}


