<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <%- include("../partials/loginHead.ejs"); %>
</head>

<body>

    <form action="/api/login" method="post" enctype="application/json" class="loginForm">
        <div class="form-control">
            <h4 class="loginMsg">Ingresa tu nombre para iniciar sesión</h4>
            <input type="text" id="yourname" name="yourname" class="text-center" placeholder="Tu nombre" required/>
            <button type="submit" id="chatButton" class="btn btn-primary login">Iniciar sesión</button>
        </div>
        
    </form>

</body>

</html>